.carousel {
    position: relative;
    height: 600px;
    width: 60%;
    margin: 0 auto;
}

    .carousel__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        height: 2rem;
        width: 2rem;
        background-color: white;
        border: 2px solid black;

        cursor: pointer;
    }

        .carousel__button--right {
            left: 102%;
        }

        .carousel__button--left {
            right: 102%;
            
        }

    .carousel__track-container {
        position: relative;
        height: 100%;
        background: black;
    }

        .carousel__track {
            padding: 0;
            margin: 0;
            list-style: none;

            visibility: hidden;
        }

        .visible {
            visibility: visible;
        }

            .carousel__slide {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
            }

                .carousel__image {
                    width: 100%;
                    height: 100%;
                }

    .nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        margin-top: 1rem;
    }

        .nav > button {
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
            background-color: white;
            border: 2px solid black;
            cursor: pointer;
        }

        .nav > .filled {
            background-color: black;
        }